.Error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Error-code {
    color: red;
    font-size: 300px;
    text-align: center;
}

.Error-info {
    text-align: center;
}