@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.Main {
    display: flex;
}

.Main-sidebar {
    background: rgb(59,126,133);
  background: linear-gradient(100deg, rgb(151, 196, 121) 0%, rgb(110, 206, 73) 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    /* width: 30%; */
    text-align: center;
    box-shadow: 12px -10px 5px -4px rgba(0,0,0,0.75);
}

.Main-title {
    font-size: 4rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.Main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: wheat;
    width: 800px;
    margin-left: 20px;
    box-shadow: 12px -10px 5px -4px rgba(0,0,0,0.75);
    padding: 1.25rem 1.875rem;
}

.Main-sidebar-title {
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #fff;
}

.Main-sidebar-sign {
    font-size: 80px;
    color: gold;
    margin-bottom: 20px;
}