.Form {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin:5px;
}

.Form-group {
    display: flex;
    flex-flow: column wrap; 
    margin-bottom: 30px;
}

.Form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.Form button:hover {
    background-color: rgb(206, 226, 89);
    color: honeydew;
}

.Form-group input {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
}

.Form-group label {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 17px;
    font-size: 20px;
}