@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.Navbar img {
    width: 120px;
    padding: 10px;
    margin-top: 10px;
}

.Navbar-links ul li {
    list-style: none;
}

.Navbar-links ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}