@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.Display {
    background: linear-gradient(24deg, #a3bbc0, #aabeb5 100%);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.Display-info {
    display: flex;
    flex-direction: row;
}

.Display-title {
    display: flex;
}


.Display-icons {
    font-size: 20px;
}

.indicators-down {
    color: red;
}

.indicators-up {
    color: green;
}

.indicators-average {
    color: black;
}

.indicators-dollar {
    color: gold;
}