.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: linear-gradient(135deg, 
    rgb(15, 45, 59) 0%, 
    rgba(179, 229, 252, 1) 50%, 
    rgb(39, 204, 17) 50%, 
    rgba(240, 98, 146, 1) 100% 
  ); */
  background: rgb(59,126,133);
  background: linear-gradient(299deg, rgba(59,126,133,1) 0%, rgba(210,222,232,1) 70%);
}